
<mat-tab-group>
    <mat-tab label="Starship">
        <div class="content-rev-share">
            <div class="inner-container">
                <img class="starship-img" src="/assets/Starship_RevShare.jpg">
                <!-- <button mat-raised-button>Get Rev Share</button> -->
            </div>
        </div>
    </mat-tab>
    <mat-tab label="YouTube">
        <div class="content-rev-share">
            <div class="inner-container">
                <img class="starship-img" src="/assets/Youtube_RevShare.jpg">
                <!-- <button mat-raised-button>Get Rev Share</button> -->
            </div>
        </div>
    </mat-tab>
</mat-tab-group>