<div class="container">
    <div class="partner" (click)="routeToWebPage('https://ethereumtowers.com/')">
        <img class="partner-image" src="/assets/Ethereum Towers.png">
        <div class="eth-name">ETHEREUM TOWERS</div>
    </div>
    <div class="partner" (click)="routeToWebPage('https://coinleague.com/')">
        <img class="partner-image" src="/assets/CoinLeague.png">
        <div class="coin-name">COIN LEAGUE</div>
    </div>
    <div class="partner" (click)="routeToWebPage('https://game.deploystarship.com/')">
        <img class="partner-image" src="/assets/Starship.png">
    </div>
    <div class="partner" (click)="routeToWebPage('https://www.cyberhornetscolony.com/')">
        <img class="partner-image" src="/assets/CyberHornets.png">
    </div>
    <div class="partner" (click)="routeToWebPage('https://dualworldfusion.com/')">
        <img class="partner-image" src="/assets/DualFusion.jpg">
        <div class="dwf-name">DUAL WORLD FUSION</div>
    </div>
    <div class="partner" (click)="routeToWebPage('https://linktr.ee/evaverse')">
        <img class="partner-image" src="/assets/Eva.jpg">
        <div class="dwf-name">EVAVERSE</div>
    </div>
    <div class="partner" (click)="routeToWebPage('https://opensea.io/collection/funky-monkey-frat-house')">
        <img class="partner-image" src="/assets/FunkyMonkey.jpg">
        <div class="dwf-name">Funky Monkey</div>
    </div>
    <div class="partner" (click)="routeToWebPage('https://www.cryptoblades.io/')">
        <img class="partner-image" src="/assets/CryptoBlades.png">
        <div class="dwf-name">Crypto Blades</div>
    </div>
</div>
