<div class="container">
    <div class="planet-container">
        <img class="planet-img" src="/assets/Mercury_Planet.png">
        <div class="roadmap">
            <div class="name">Mercury</div>
            <div class="item complete">Create Background Story For Pluto Alliance</div>
            <div class="item complete">Launch Minting Website</div>
            <div class="item complete">Determine Planet Rarity Numbers</div>
            <div class="item complete">Launch Project September 15th</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Venus_Planet.png">
        <div class="roadmap">
            <div class="name">Venus</div>
            <div class="item complete">Secure Verified Status on OpenSea</div>
            <div class="item complete">Sell Out Mint 100%</div>
            <div class="item complete">Begin 2nd Phase Of Story Development</div>
            <div class="item complete">Rarity Tools & Rarity Sniper Listing</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Earth_Planet.png">
        <div class="roadmap">
            <div class="name">Earth</div>
            <div class="item complete">Create Promotional Trailers For Marketing</div>
            <div class="item complete">Devote 25% of secondary Opensea Royalties Back to Project</div>
            <div class="item complete">Begin Partner Projects Token Airdrops</div>
            <div class="item complete">Begin Partner Project NFT Airdrops</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Mars_Planet.png">
        <div class="roadmap">
            <div class="name">Mars</div>
            <div class="item complete">$20K Community Based Art Contest</div>
            <div class="item complete">Acquire Metaverse Partnerships For Future Integrations</div>
            <div class="item complete">Begin Auctioning Off Dev Wallet For Floor Sweeps</div>
            <div class="item">Metaverse Land Purchase For Future Community Hangout Space</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Jupiter_Planet.png">
        <div class="roadmap">
            <div class="name">Jupiter</div>
            <div class="item complete">Expand Brand To 2nd Chain For Cross-Promotional Purposes</div>
            <div class="item complete">IRL Meet Up For Pluto Alliance Holders</div>
            <div class="item complete">Dedicated Video On Pluto Alliance On Bitboy Crypto</div>
            <div class="item">Metaverse Hangout Spot Construction Goes Underway</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Saturn_Planet.png">
        <div class="roadmap">
            <div class="name">Saturn</div>
            <div class="item">Metaverse Gaming Center Launched With Coin League And Future Games</div>
            <div class="item complete">Reach $250,000 In Giveaways To The Community</div>
            <div class="item">Secure Coinbase Marketplace Verification</div>
            <div class="item">Expand Brand to 3rd Chain To Continue Branding Outreach</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Uranus_Planet.png">
        <div class="roadmap">
            <div class="name">Uranus</div>
            <div class="item complete">Begin Community Wallet Purchases Of Blue Chip NFT's</div>
            <div class="item complete">Buy A Mutant Ape</div>
            <div class="item">Buy A Vee Friend</div>
            <div class="item">Buy A Bored Ape</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Neptune_Planet.png">
        <div class="roadmap">
            <div class="name">Neptune</div>
            <div class="item complete">Introduce A Burn Mechanism To Increase Scarcity</div>
            <div class="item">Link Tree Page Created For Ease Of Access</div>
            <div class="item">Medium Page Created For Communication</div>
            <div class="item">Merchandise Store With Sick Pluto Swag</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/Pluto_Planet.png">
        <div class="roadmap">
            <div class="name">Pluto</div>
            <div class="item">Create Collaboration Page On Website To Highlight Partnerships</div>
            <div class="item">Create Reward Page To Showcase Giveaway Amounts</div>
            <div class="item complete">Reach $500,000 In Rewards To The Community</div>
            <div class="item complete">Hire Pluto Ambassadors For Outreach And Marketing</div>
        </div>
    </div>
    <div class="planet-container">
        <img class="planet-img" src="/assets/BlackHole_Planet.png">
        <div class="roadmap">
            <div class="name">Black Hole</div>
            <div class="item">TBD</div>
        </div>
    </div>
</div>