.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-button {
    height: 45px;
    width: 45px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    border: 2px #191B1F solid;
    background-color: #191B1F;
    border-radius: 10px;
    color: white;
}

.card-button:hover {
    cursor: pointer;
}

.google-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px white solid;
  }

.google-img:hover {
    cursor: pointer;
}