<div *ngIf="!isMobile" class="container">
  <div class="left-side">
    <app-side-nav></app-side-nav>
  </div>
  <div class="right-side">
    <app-right-buttons></app-right-buttons>
  </div>
  <div class="title">
    <app-title></app-title>
  </div>
  <div class="router-container">
    <mat-card class="card router-card">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>

<div *ngIf="isMobile">
  <mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
      <div class="sidenav-container">
        <div class="left-toolbar">
          <mat-toolbar class="toolbar">
            <button mat-icon-button (click)="close('toggle')">
              <mat-icon>menu</mat-icon>
            </button>
            <div>Pluto Alliance</div>
          </mat-toolbar>
        </div>
        <div class="links">
          <div class="scroll-click" (click)="scroll(opensea)"><mat-icon class="icon">shopping_bag</mat-icon>Purchase</div>
          <div class="scroll-click" (click)="scroll(utilities)"><mat-icon class="icon">attach_money</mat-icon>Rev Share</div>
          <div class="scroll-click" (click)="scroll(story)"><mat-icon class="icon">auto_stories</mat-icon>Story</div>
          <div class="scroll-click" (click)="scroll(roadmap)"><mat-icon class="icon">route</mat-icon>Roadmap</div>
          <div class="scroll-click" (click)="scroll(latest)"><mat-icon class="icon">alarm_on</mat-icon>Latest</div>
          <div class="scroll-click" (click)="scroll(partners)"><mat-icon class="icon">supervisor_account</mat-icon>Partners</div>
          <div class="scroll-click" (click)="metaMask()"><mat-icon class="icon">wallet</mat-icon>My Aliens</div>
        </div>
        <div class="redirects">
          <mat-card class="card-button" (click)="openTwitter()"> 
            <img src="/assets/twitter_white.png">
          </mat-card>
          <mat-card class="card-button" (click)="openDiscord()">
              <img src="/assets/discord_white.png">
          </mat-card>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar class="toolbar">
        <div class="left-toolbar">
          <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
          <div>Pluto Alliance</div>
        </div>
        <div class="left-toolbar">
          <img style="margin: 0 15px 0 0;" src="/assets/youtube_logo.png" (click)="openYoutube()">
          <img src="/assets/discord_white.png" (click)="openDiscord()">
          <div class="user-button" *ngIf="firebaseService.user$ | async as user; else notAuth" (click)="logoutPop()">
            <img class="google-img" [src]="user.photoURL">
          </div>

          <ng-template #notAuth>
              <mat-card class="card-button" (click)="logoutPop()">
                  Login
              </mat-card>
          </ng-template>
        </div>
      </mat-toolbar>
      <div class="mobile-container">
        <div #opensea class="open-sea">
          <div class="open-sea-title">
            <mat-card class="title-card">
              Purchase Now On OpenSea
            </mat-card>
          </div>
          <app-home class="mobile-home"></app-home>
        </div>
        <div #utilities class="utilities">
          <div style="color: rgb(121, 0, 121); font-size: 40px; padding: 20px 0 20px 20px;">Rev Share</div>
          <app-utilities></app-utilities>
        </div>
        <div #story class="story">
          <div class="blank-story"></div>
          <app-lore class="mobile-lore"></app-lore>
        </div>
        <div #roadmap class="roadmap">
          <div style="color: rgb(121, 0, 121); font-size: 40px; padding: 20px 0 20px 20px;">Roadmap</div>
          <app-roadmap></app-roadmap>
        </div>
        <div #latest class="tweets">
          <app-latest></app-latest>
        </div>
        <div #partners class="partners">
          <div style="color: rgb(121, 0, 121); font-size: 40px; padding: 20px 0 20px 20px;">Partners</div>
          <app-partners></app-partners>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
