.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 100%;
    color: white;
    background-color: #191B1F;
}

.privacy {
    margin-top: 45px;
    color: white;
    font-size: 8px;
}
