<mat-tab-group>
    <mat-tab label="Chapter 1">
        <div class="content">
            The year is 2101 and turbulence has engulfed the Galactic Union.

            After decades of peace, the 9 nine planets have become embroiled in a cataclysmic struggle. 
            The planetary status of Pluto has been disputed by Earth and all is in chaos.
    
            Mercury, Mars, Saturn and Neptune have declared their intentions to side with Earth while the remaining planets have declared their allegiance with Pluto. 
            Thus, the Pluto Alliance was formed!
    
            A rift is now forming within the Union and all over the galaxy there are whispers of Civil War. 
            Lines are being drawn. Meanwhile, the Pluto Alliance vows that any action taken against Pluto will be met with bloodshed. 
            While the Galactic Union endlessly bickers amongst themselves, many wonder, is conflict inevitable? 
            Then, to complicate matters, a new race appears from a black hole. No one knows the agenda of the mysterious strangers. 
            What will happen in the darkest hour?
        </div>
    </mat-tab>
    <mat-tab label="Chapter 2">
        <div class="content">
            The first shots fired shook the galaxy to its core. Mining vessels from Earth were caught extracting minerals from one of Pluto’s 5 moons. 
            As a retaliatory response, rogue elements vaporized the Earthlings! 3333 lives were lost on that fateful day. These were known as the shots that started it all. 
            Those who wanted a war seemed to be getting their way… Pluto leadership denied sanctioning the attack but the damage was done.

            Grainy footage of ships with unknown origin circulated as the REAL culprits but most dismissed the footage as a hoax. 
            Earth was quick to mobilize their warships and called on all Galactic Union members to do the same. 
            Mercury, Mars, Saturn and Neptune were quick to comply with Earth’s demands. 
            Thus, the Pluto Eliminated Along w/ Cooperating Entities, or P.E.A.C.E Operation, was underway. 
            Venus, Jupiter, and Uranus voiced their allegiance for the Pluto Alliance instead. The sides have been made clear.

            But rumors that it wasn’t even Pluto ships that fired the shots kept persisting. Some even claimed it was technology not even from this galaxy…
        </div>
    </mat-tab>
</mat-tab-group>
